hr.rounded {
  display: none;
}
@media screen and (max-width: 631px) {
  hr.rounded {
    display: flex;
    margin: 0 auto;
    border-top: 3px solid #eeeeee;
    width: 40vw;
  }
}

.main-about {
}
.active.fade-top {
  animation: slideTop 1.2s ease-in;
  /* background-color: aqua; */
}
.active.fade-right {
  animation: slideRight 1.2s ease-in;
  /* background-color: aqua; */
}
.active.fade-left {
  animation: slideLeft 1.2s ease-in;
  /* background-color: aqua; */
}
.active.fade-bottom {
  animation: slideBottom 1.2s ease-in;
  /* background-color: aqua; */
}
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
