.home-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.home-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-right-info {
  display: flex;
  flex-direction: column;
}
.home-right-head {
  font-size: 4vw;
  margin-block: 5px;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
}
.home-right-role {
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.home-right-desc {
  font-size: 1.1vw;
  margin-block: 10px;
  width: 550px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  text-align: justify;
  text-justify: inter-word;
}
.home-right-contact {
  width: 130px;
  outline: none;
  border: none;
  background-color: var(--title-color);
  color: #fefefe;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.5s;
}
.home-right-image img {
  width: 350px;
  height: 350px;
  margin-left: 5vw;
  /* background-color: antiquewhite; */
  background-color: var(--first-color-lighter);
  border-top-right-radius: 95px;
  opacity: 0;
  animation: zoomIn 2s ease forwards, upDown 4s ease-in-out infinite;
  animation-delay: 0.1s, 3s;
}

@media screen and (max-width: 931px) {
  .home-main {
    padding-top: 200px;
    max-height: 400px;
  }
  .home-right-image img {
    width: 250px;
    height: 250px;
    margin-left: 3vw;
  }
  .home-right-info {
  }
}

@media screen and (max-width: 631px) {
  .home-main {
    padding-top: 0px;
    max-height: 100vh;
  }
  .home-right {
    flex-direction: column;
  }
  .home-right-info {
    align-items: center;
    text-align: center;
  }
  .home-right-head {
    font-size: 6vw;
    margin-block: 5px;
  }
  .home-right-role {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .home-right-desc {
    font-size: 3vw;
    margin-block: 10px;
    width: 75%;
  }
  .home-right-contact {
    width: 90px;
    font-size: 11px;
    border: none;
    padding: 10px;
    margin-top: 10px;
  }
  .home-right-image img {
    width: 200px;
    height: 200px;
    margin-top: 80px;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 100;
    transform: scale(1);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}
